<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Differential Privacy Extension Configuration</title>
    <link rel="stylesheet" href="../dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../dist/js/coral.min.js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <h3 class="coral-Heading--M">No configuration necessary</h3>

    <section class="coral-Well">
      <p>
        To preserve user privacy when tracking your users digitally, some randomness can be
        introduced to data collection. This allows the analyst to be confident that the aggregate
        results reflect the actual behaviour of the population, while not being fully confident
        that every individual piece of data is the actual value collected from an individual.
      </p>
      <p>
        This extension's application of differential privacy is inspired by
        <a class="coral-Link" href="https://accuracyandprivacy.substack.com/p/differential-privacy-an-easy-case" target="_blank" rel="noopener,noreferrer">
          Mark Hansen's "Differential privacy, an easy case"
        </a>.
      </p>
    </section>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Extension works</h4>
      <p>
        To use: <b>Go to <span class="text-underline">Data Elements</span> and create a
        <span class="text-underline">"Differential Item"</span>.</b>
      </p>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-differential-privacy/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-differential-privacy/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2020-2024  Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      const FORM_ID = 'extension-configuration';

      window.extensionBridge.register({
        init: (info) => {
          if (info.settings) {}
        },

        getSettings: () => {
          return {};
        },

        validate: () => {
          return true;
        }
      });
    </script>
  </body>
</html>
