<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Differential Item Data Element</title>
    <link rel="stylesheet" href="../dist/css/coral.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="../dist/js/coral.min.js"></script>
  </head>
  <body class="coral--light coral-Body--S u-coral-margin">
    <form id="data-element-configuration" class="coral-Form coral-FormGroup--labelsAbove">
      <h4 class="coral-Heading--M">Setup Differential Item</h4>

      <div class="coral-FormGroup-item">
        <label for="selected-item" class="coral-FormGroup-itemLabel">
          Pre-selected item
          <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
        </label>
        <div class="coral-InputGroup" style="width: 100%;" role="presentation">
          <input id="selected-item" name="selectedItem" value="" class="coral-InputGroup-input" is="coral-textfield" placeholder="selected item">
          <span class="coral-InputGroup-button">
            <button is="coral-button" icon="data" title="Data Element selector"></button>
          </span>
          <coral-icon icon="info" title="Info" size="S"></coral-icon>
          <coral-tooltip target="_prev" variant="info" placement="right" offset="8">
            This is the item that has been pre-selected and will be returned if the probability is
            met.
          </coral-tooltip>
        </div>
      </div>

      <div class="coral-FormGroup-item">
        <label for="probability-of-using-selected-item" class="coral-FormGroup-itemLabel">
          Probability of using the selected item
          <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
        </label>
        <div class="coral-InputGroup" style="width: 100%;" role="presentation">
          <input id="probability-of-using-selected-item" name="probabilityOfUsingSelectedItem" value="" class="coral-InputGroup-input" is="coral-textfield" placeholder="0.75">
          <span class="coral-InputGroup-button">
            <button is="coral-button" icon="data" title="Data Element selector"></button>
          </span>
          <coral-icon icon="info" title="Info" size="S"></coral-icon>
          <coral-tooltip target="_prev" variant="info" placement="right" offset="8">
            This must be a floating point number between 0.0 and 1.0. If any other value is provided,
            then an error will occur.
          </coral-tooltip>
        </div>
      </div>

      <div class="coral-FormGroup-item">
        <label for="list-of-possible-items" class="coral-FormGroup-itemLabel">
          List of possible items
          <coral-icon icon="Asterisk" class="coral-FieldLabel-requiredIcon" size="XXS" alt="required"></coral-icon>
        </label>
        <div class="coral-InputGroup" style="width: 100%;" role="presentation">
          <input id="list-of-possible-items" name="listOfPossibleItems" value="" class="coral-InputGroup-input" is="coral-textfield" placeholder="comma-separated list of values">
          <span class="coral-InputGroup-button">
            <button is="coral-button" icon="data" title="Data Element selector"></button>
          </span>
          <coral-icon icon="info" title="Info" size="S"></coral-icon>
          <coral-tooltip target="_prev" variant="info" placement="right" offset="8">
            This must be a comma-separated string or an array of items. If neither is provided, then
            an error will occur.
          </coral-tooltip>
        </div>
      </div>

      <div id="return-type-container" class="coral-FormGroup-item">
        <label class="coral-FormGroup-itemLabel">
          Return the data element's value as
        </label>
        <coral-radiogroup orientation="vertical">
          <coral-radio name="returnType" value="value" checked="">
            the item itself
          </coral-radio>
          <coral-radio name="returnType" value="position">
            the item's position in the list of items (the first item in the list has position 1).
            If the item is not in the list, then a "0" position is returned.
          </coral-radio>
        </coral-radiogroup>
      </div>
    </form>

    <section class="coral-Well">
      <h4 class="coral-Heading--S coral-Heading--light">How this Data Element works</h4>
        <p>
        Given a list of items and a probability, this data element returns either the pre-selected
        item or a random item from the list.
      </p>
    </section>

    <hr class="coral-Divider--S">

    <footer class="coral--lightest coral-Body--XS">
      <div id="donations">
        <p>
          Donate: <a class="coral-Link" href="https://paypal.me/yuhuibc" target="_blank">PayPal</a>
        </p>
      </div>
      <div id="support">
        <p>
          Support Information
        </p>
        <ul class="coral-List">
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-differential-privacy/issues" target="_blank">
              Open a ticket
            </a>
          </li>
          <li class="coral-List-item">
            <a class="coral-Link" href="https://github.com/yuhui/launchext-differential-privacy/blob/master/CHANGELOG.md" target="_blank">
              Read change log
            </a>
          </li>
        </ul>
      </div>

      <p>
        Copyright &copy; 2020 Yuhui. All rights reserved.
      </p>
      <p>
        <a class="coral-Link" href="https://yuhui.sg/terms-of-service.html" target="_blank">Terms of Service</a> |
        <a class="coral-Link" href="https://yuhui.sg/privacy-policy.html" target="_blank">Privacy Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/cookie-policy.html" target="_blank">Cookie Policy</a> |
        <a class="coral-Link" href="https://yuhui.sg/acceptable-use-policy.html" target="_blank">Acceptable Use Policy</a>
      </p>
    </footer>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      const FORM_ID = 'data-element-configuration';

      window.extensionBridge.register({
        init: (info) => {
          if (info.settings) {
            setFormValues(FORM_ID, info.settings);
          }
        },

        getSettings: () => {
          const formValues = getFormValues(FORM_ID);
          return formValues;
        },

        validate: () => {
          const textFieldSelector = 'input[is="coral-textfield"]';
          const textFieldInputs = document.querySelectorAll(textFieldSelector);
          textFieldInputs.forEach((input) => {
            input.removeAttribute('invalid');
          });
          const errorTextFieldSelector = `${textFieldSelector}[name="fieldName"]`;

          const formValues = getFormValues(FORM_ID);
          const { selectedItem, probabilityOfUsingSelectedItem, listOfPossibleItems } = formValues;

          const selectedItemIsNotBlank = selectedItem.length > 0;
          const selectedItemIsValid = selectedItemIsNotBlank;
          if (!selectedItemIsValid) {
            const selector = errorTextFieldSelector.replace('fieldName', 'selectedItem');
            const errorTextFieldInputs = document.querySelectorAll(selector);
            errorTextFieldInputs.forEach((input) => {
              input.setAttribute('invalid', '');
            });
          }

          const probabilityOfUsingSelectedItemIsNotBlank =
            probabilityOfUsingSelectedItem.length > 0;
          const probabilityOfUsingSelectedItemIsFloat =
            isDataElementToken(probabilityOfUsingSelectedItem)
              // assume that the data element is a float
              ? true
              : !!Number(probabilityOfUsingSelectedItem);
          const probabilityOfUsingSelectedItemIsBetweenZeroAndOne =
            isDataElementToken(probabilityOfUsingSelectedItem)
              // assume that the data element is a float between 0.0 and 1.0
              ? true
              : (
                probabilityOfUsingSelectedItemIsFloat
                && probabilityOfUsingSelectedItem >= 0.0
                && probabilityOfUsingSelectedItem <= 1.0
              );
          const probabilityOfUsingSelectedItemIsValid = probabilityOfUsingSelectedItemIsNotBlank
            && probabilityOfUsingSelectedItemIsFloat
            && probabilityOfUsingSelectedItemIsBetweenZeroAndOne;
          if (!probabilityOfUsingSelectedItemIsValid) {
            const selector = errorTextFieldSelector.replace(
              'fieldName',
              'probabilityOfUsingSelectedItem',
            );
            const errorTextFieldInputs = document.querySelectorAll(selector);
            errorTextFieldInputs.forEach((input) => {
              input.setAttribute('invalid', '');
            });
          }

          const listOfPossibleItemsIsNotBlank = listOfPossibleItems.length > 0;
          const listOfPossibleItemsIsValid = listOfPossibleItemsIsNotBlank;
          if (!listOfPossibleItemsIsValid) {
            const selector = errorTextFieldSelector.replace('fieldName', 'listOfPossibleItems');
            const errorTextFieldInputs = document.querySelectorAll(selector);
            errorTextFieldInputs.forEach((input) => {
              input.setAttribute('invalid', '');
            });
          }

          return selectedItemIsValid
            && probabilityOfUsingSelectedItemIsValid
            && listOfPossibleItemsIsValid;
        }
      });

      /**
       * When the data element selector coral-icon button is clicked,
       * open Data Collection Tags's data element selector,
       * then set the coral-icon's nearest input with the selected data element.
       */
      const dataButtons = document.querySelectorAll('button[icon="data"]');
      dataButtons.forEach((button) => {
        button.addEventListener('click', (event) => {
          const inputGroup = event.target.closest('div.coral-InputGroup');
          const inputElement = inputGroup.querySelector('input');
          window.extensionBridge.openDataElementSelector().then((dataElement) => {
            inputElement.value = dataElement;
          });
        });
      });
    </script>
  </body>
</html>
