<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Differential Item Data Element</title>
    <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/spectrum/2.9.0/spectrum-light.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="//use.typekit.net/buj6cmr.js"></script>
  </head>
  <body class="spectrum spectrum--light spectrum-Body">
    <form id="data-element-configuration" class="spectrum-Form">
      <h4 class="spectrum-Heading4">About this data element</h4>
      <p>
        Given a list of items and a probability, this data element returns
        either the pre-selected item or a random item from the list.
      </p>

      <div class="content-separator">
        &nbsp;
      </div>

      <div id="selected-item-container">
        <div>
          <div id="selected-item" class="max-width">
            <span>Pre-selected item</span>
            <label>
              <input type="text" name="selectedItem" value="">
            </label>
            <button class="spectrum-ActionButton spectrum-ActionButton--quiet">
              <svg xmlns="http://www.w3.org/2000/svg" class="spectrum-Icon spectrum-Icon--sizeL" viewBox="0 0 36 36" focusable="false" role="img">
                <title>Data Element selector</title>
                <rect fill="#ff13dc" opacity="0" />
                <ellipse class="a" cx="9" cy="3.5" rx="8" ry="2.5" />
                <path class="a" d="M9,12.1375c-2.468,0-7.106-.5845-8-2V14.5C1,15.8805,4.5815,17,9,17s8-1.1195,8-2.5V10.135C15.7765,11.6825,11.468,12.1375,9,12.1375Z" />
                <path class="a" d="M9,7.1375c-2.468,0-7.106-.5845-8-2.0025V8.5C1,9.8805,4.5815,11,9,11s8-1.1195,8-2.5V5.135C15.7765,6.6825,11.468,7.1375,9,7.1375Z" />
              </svg>
            </button>
          </div>
        </div>
        This is the item that has been pre-selected and will be returned if the
        probability is met.<br />
        <span class="error-message hide">
          A data element or an item must be provided.
        </span>
      </div>

      <div class="content-separator">
        &nbsp;
      </div>

      <div id="probability-of-using-selected-item-container">
        <div>
          <div id="probability-of-using-selected-item" class="max-width">
            <span>Probability of using the selected item</span>
            <label>
              <input type="text" name="probabilityOfUsingSelectedItem" value="">
            </label>
            <button class="spectrum-ActionButton spectrum-ActionButton--quiet">
              <svg xmlns="http://www.w3.org/2000/svg" class="spectrum-Icon spectrum-Icon--sizeL" viewBox="0 0 36 36" focusable="false" role="img">
                <title>Data Element selector</title>
                <rect fill="#ff13dc" opacity="0" />
                <ellipse class="a" cx="9" cy="3.5" rx="8" ry="2.5" />
                <path class="a" d="M9,12.1375c-2.468,0-7.106-.5845-8-2V14.5C1,15.8805,4.5815,17,9,17s8-1.1195,8-2.5V10.135C15.7765,11.6825,11.468,12.1375,9,12.1375Z" />
                <path class="a" d="M9,7.1375c-2.468,0-7.106-.5845-8-2.0025V8.5C1,9.8805,4.5815,11,9,11s8-1.1195,8-2.5V5.135C15.7765,6.6825,11.468,7.1375,9,7.1375Z" />
              </svg>
            </button>
          </div>
        </div>
        This must be a floating point number between 0.0 and 1.0. If any other
        value is provided, then an error will occur.<br />
        <span class="error-message hide">
          A number between 0.0 and 1.0, or a data element that returns such a
          number, must be provided.
        </span>
      </div>

      <div class="content-separator">
        &nbsp;
      </div>

      <div id="list-of-possible-items-container">
        <div>
          <div id="list-of-possible-items" class="max-width">
            <span>List of possible items</span>
            <label>
              <input type="text" name="listOfPossibleItems" value="">
            </label>
            <button class="spectrum-ActionButton spectrum-ActionButton--quiet">
              <svg xmlns="http://www.w3.org/2000/svg" class="spectrum-Icon spectrum-Icon--sizeL" viewBox="0 0 36 36" focusable="false" role="img">
                <title>Data Element selector</title>
                <rect fill="#ff13dc" opacity="0" />
                <ellipse class="a" cx="9" cy="3.5" rx="8" ry="2.5" />
                <path class="a" d="M9,12.1375c-2.468,0-7.106-.5845-8-2V14.5C1,15.8805,4.5815,17,9,17s8-1.1195,8-2.5V10.135C15.7765,11.6825,11.468,12.1375,9,12.1375Z" />
                <path class="a" d="M9,7.1375c-2.468,0-7.106-.5845-8-2.0025V8.5C1,9.8805,4.5815,11,9,11s8-1.1195,8-2.5V5.135C15.7765,6.6825,11.468,7.1375,9,7.1375Z" />
              </svg>
            </button>
          </div>
        </div>
        This must be a comma-separated string or an array of items. If neither
        is provided, then an error will occur.<br />
        <span class="error-message hide">
          A comma-separated string, or a data element that returns such a
          string or an array of items, must be provided.
        </span>
      </div>

      <div class="content-separator">
        &nbsp;
      </div>

      <div id="return-type-container" class="" role="radiogroup">
        Return the data element's value as
        <div class="spectrum-FieldGroup max-width">
          <label class="spectrum-Radio">
            <input class="spectrum-Radio-button" type="radio" name="returnType" value="value" checked="true">
            <span class="spectrum-Radio-label">the item itself.</span>
          </label>
        </div>
        <div class="spectrum-FieldGroup max-width">
          <label class="spectrum-Radio">
            <input class="spectrum-Radio-button" type="radio" name="returnType" value="position">
            <span class="spectrum-Radio-label">
              the item's position in the list of items (the first item in the
              list has position 1). If the item is not in the list, then a "0"
              position is returned.
            </span>
          </label>
        </div>
      </div>
    </form>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script>
      var FORM_ID = 'data-element-configuration';

      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            setFormValues(FORM_ID, info.settings);
          }
        },

        getSettings: function() {
          var formValues = getFormValues(FORM_ID);
          return formValues;
        },

        validate: function() {
          var formValues = getFormValues(FORM_ID);

          var selectedItem = formValues.selectedItem;
          var selectedItemIsNotBlank = selectedItem.length > 0;
          var selectedItemIsValid = selectedItemIsNotBlank;
          toggleInputErrorMessage('selectedItem', selectedItemIsValid);

          var probabilityOfUsingSelectedItem =
            formValues.probabilityOfUsingSelectedItem;
          var probabilityOfUsingSelectedItemIsNotBlank =
            probabilityOfUsingSelectedItem.length > 0;
          var probabilityOfUsingSelectedItemIsFloat =
            isDataElementToken(probabilityOfUsingSelectedItem) ?
              // assume that the data element is a float
              true :
              !!parseFloat(probabilityOfUsingSelectedItem);
          var probabilityOfUsingSelectedItemIsBetweenZeroAndOne =
            isDataElementToken(probabilityOfUsingSelectedItem) ?
              // assume that the data element is a float between 0.0 and 1.0
              true :
              (
                probabilityOfUsingSelectedItemIsFloat &&
                probabilityOfUsingSelectedItem >= 0.0 &&
                probabilityOfUsingSelectedItem <= 1.0
              );
          var probabilityOfUsingSelectedItemIsValid =
            probabilityOfUsingSelectedItemIsNotBlank &&
            probabilityOfUsingSelectedItemIsFloat &&
            probabilityOfUsingSelectedItemIsBetweenZeroAndOne;
          toggleInputErrorMessage(
            'probabilityOfUsingSelectedItem',
            probabilityOfUsingSelectedItemIsValid
          );

          var listOfPossibleItems = formValues.listOfPossibleItems;
          var listOfPossibleItemsIsNotBlank = listOfPossibleItems.length > 0;
          var listOfPossibleItemsIsValid = listOfPossibleItemsIsNotBlank;
          toggleInputErrorMessage(
            'listOfPossibleItems',
            listOfPossibleItemsIsValid
          );

          return selectedItemIsValid &&
            probabilityOfUsingSelectedItemIsValid &&
            listOfPossibleItemsIsValid;
        }
      });

      /**
       * When the data element selector button is clicked,
       * open Launch's data element selector,
       * then set the button's input sibling with the selected data element.
       */
      document.querySelectorAll('button.spectrum-ActionButton').
        forEach(function(button) {
          button.addEventListener('click', function(e) {
            var inputElement = this.parentNode.querySelector('input');
            window.extensionBridge.openDataElementSelector().
              then(function(dataElement) {
                inputElement.value = dataElement;
              });
          });
        });
    </script>
  </body>
</html>
